{% extends "b-base.html" %}
{% block title %}
experience others Life
{% endblock %}

{% block content %}
    <nav class="nav nav-inline">
        {% if user %}
            <a class="nav-link" href="/logout">Logout</a>
            <a class="nav-link" href="#">{{ user.name }}(Personal Center)</a>
            <a class="nav-link" href="/submit">Post new story</a>
        {% else %}
            <a class="nav-link active" href="/login">Login</a>
            <a class="nav-link" href="/signup">Sing up</a>
            <a class="nav-link disabled" href="/login">Post new story</a>
        {% endif %}
    </nav>
    <div class="container">
        <div class="jumbotron" style="background: white">
            <h1 class="display-3">Life that share by others</h1>
        </div>
        {% for article in articles %}
            <div class="card card-block" style="margin: 20px">
                <h2 class="card-title">{{ article.title }}</h2>
                {{ article.post_time }}
                <br>
                author: {{ article.author.name }}
                <br>
                votes: {{ article.votes|length }}
                <div class="card-text"> 
                    <p>{{ article.body }}</p>
                    {% if user and article.author.key() == user.key() %}
                        <a href="/delete/{{article.key()}}"><button class="btn btn-link">Delete</button></a>
                        <a href="/edit/{{article.key()}}"><button class="btn btn-link">Edit</button></a>
                    {% elif not user or article.author.key() != user.key() %}
                        <a href="/vote/{{article.key()}}"><i class="fa fa-thumbs-up"></i>  Like</a>
                        <br>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#modelId{{ article.title }}">
                        Comment
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modelId{{ article.title }}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="modelTitleId">Write your comments here</h4>
                                    </div>
                                    <form method="POST" action="/comments/{{article.key()}}/">
                                    <div class="modal-body">                              
                                        <textarea class="form-control" name="comment"  rows="3"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input class="btn btn-primary" type="submit">
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    {% endif %}                    
                        <p>Comment:</p>
                        {% for comment in article.comment_set: %}
                            {% if article.key() == comment.article.key() %}
                                {% if not user or comment.user.key() != user.key() %}                        
                                    {{ comment.content }}
                                    <br>
                                {% else %}
                                    {{ comment.content }}
                                    <a href="/comment/delete/{{comment.key()}}"><button class="btn btn-link">Delete</button></a>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#editComment">Edit</button>
                                     <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="modelTitleId">Write your comments here</h4>
                                                </div>
                                                <form method="POST" action="/comment/edit/{{comment.key()}}/">
                                                <div class="modal-body">                              
                                                    <textarea class="form-control" name="comment" rows="3" >{{comment.content}}</textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input class="btn btn-primary" type="submit">
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>  
                                    <br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}