{% extends "b-base.html" %}
{% block title %}
experience others Life
{% endblock %}

{% block content %}
<nav class="nav nav-inline">
{% if disabled %}
  <a class="nav-link active" href="/login">Login</a>
  <a class="nav-link" href="/signup">Sing up</a>
  <a class="nav-link disabled" href="#">Post new story</a>
  {% else %}
  <a class="nav-link" href="/logout">Logout</a>
  <a class="nav-link" href="#">{{ user_name }}(Personal Center)</a>
  <a class="nav-link" href="/submit">Post new story</a>
  {% endif %}
</nav>
<div class="container">
    <div class="jumbotron" style="background: white">
        <h1 class="display-3">Life that share by others</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Share your story!</a>
        </p>
    </div>
    {% for article in articles %}
    <div class="card card-block" style="margin: 20px">
        <h2 class="card-title">
            {{ article.title }}
        </h2>
        {{ article.post_time }}
        <br>
        author: {{ article.author }}
        <br>
        votes: {{ article.votes }}
        <div class="card-text"> 
            <p>
                {{ article.body }}
            </p>
            {% if not disabled and article.author == user_name %}
            <a href="/delete/{{article.key()}}"><button class="btn btn-link">Delete</button></a>
            <a href="/edit/{{article.key()}}"><button class="btn btn-link">Edit</button></a>
            {% endif %}
            {% if not disabled and not article.author == user_name %}
            <a href="/vote/{{article.key()}}"><i class="fa fa-thumbs-up"></i>  Like</a>
            <br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#modelId">
              Comment
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modelTitleId">Write your comments here</h4>
                        </div>
                        <form method="POST" action="/comments/{{article.key()}}/">
                        <div class="modal-body">                              
                              <textarea class="form-control" name="comment"  rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input class="btn btn-primary" type="submit">
                        </div>
                        </form>
                    </div>
                </div>
            </div>  
            {% endif %}
            {% if article.comments %}
            <p>Comment:</p>
            {% for comment in article.comments %}
            {{ comment }}
            <br>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
    
    
    {% endfor %}
</div>
{% endblock %}